<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.wms.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.Permission">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="expression" property="expression" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from permission
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into permission (name, expression)
    values (#{name}, #{expression})
  </insert>
  <update id="updateByPrimaryKey">
    update permission
    set name = #{name},
      expression = #{expression}
    where id = #{id}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, expression
    from permission
  </select>

  <!--//分页-->
  <select id="queryCount" resultType="_int" parameterType="cn.wolfcode.wms.query.QueryObject">
    select count(*) from permission
  </select>

  <select id="queryAll" resultType="permission" parameterType="cn.wolfcode.wms.query.QueryObject">
    select id, name, expression from permission limit #{start}, #{pageSize}
  </select>

  <!--查询所有权限-->
  <select id="getListAll" resultType="string">
     select expression from permission
  </select>

  <select id="selectByRoleId" resultType="permission">
    select id, name, expression
      from permission where id in (

        select permission_id from role_permission where role_id = #{roleId}
    )
  </select>

  <!--查询权限-->
  <select id="selectByEmployeeId" resultType="string">
      select expression from permission where id in (
          select rp.permission_id from employee_role er join role_permission rp
            on er.role_id = rp.role_id
            where er.employee_id = #{employeeId}
      )
  </select>

</mapper>