<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.wms.mapper.OrderBillMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.wms.domain.OrderBill">
    <id column="id" property="id" />
    <result column="sn" property="sn" />
    <result column="vdate" property="vdate" />
    <result column="status" property="status" />
    <result column="totalAmount" property="totalAmount" />
    <result column="totalNumber" property="totalNumber" />
    <result column="auditTime" property="auditTime" />
    <result column="inputTime" property="inputTime" />

    <!--//录入人-->
    <association property="inputUser" column="inputUser_id" javaType="employee" columnPrefix="iu_">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
    </association>

    <!--审核人-->
    <association property="auditor" column="auditorUser_id" columnPrefix="as_" javaType="employee">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
    </association>

    <!--供应商-->
    <association property="supplier" column="supplier_id" columnPrefix="s_" javaType="supplier">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
    </association>
  </resultMap>


  <delete id="deleteByPrimaryKey">
    delete from orderbill
    where id = #{id}
  </delete>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into orderbill (sn, vdate, status, totalAmount, totalNumber,
      inputTime, inputUser_id, supplier_id)
    values (#{sn}, #{vdate}, #{status}, #{totalAmount}, #{totalNumber},
      #{inputTime}, #{inputUser.id}, #{supplier.id})
  </insert>

  <update id="updateByPrimaryKey">
    update orderbill
    set sn = #{sn},
      vdate = #{vdate},

      totalAmount = #{totalAmount},
      totalNumber = #{totalNumber},

      supplier_id = #{supplier.id}
    where id = #{id}
  </update>

  <!--审核更新-->
  <update id="updateAuditorById" parameterType="orderBill">
      update orderbill set status = #{status}, auditTime = #{auditTime}, auditor_id = #{auditor.id}
  </update>

  <resultMap id="selectOne_map" type="orderBill">
    <id column="id" property="id"/>
    <result column="sn" property="sn"/>
    <result column="vdate" property="vdate"/>
    
    <!--供应商-->
    <association property="supplier" column="supplier_id" javaType="supplier" columnPrefix="s_">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
    </association>

    <!--发额外sql查订单明细-->
    <collection property="items" column="id" ofType="orderBillItem"
                select="cn.wolfcode.wms.mapper.OrderBillItemMapper.selectByBillId"/>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="selectOne_map">
    select bill.id, bill.sn, bill.vdate,
            s.id s_id, s.name s_name

      from orderbill bill
      join supplier s on s.id = bill.supplier_id
     where bill.id = #{id}
  </select>



  <sql id="base_where">
    <where>
        <if test="beginDate != null">
          and bill.vdate &gt;= #{beginDate}
        </if>
        <if test="endDate != null">
          and bill.vdate &lt;= #{endDate}
        </if>
        <if test="supplierId > 0">
          and bill.supplier_id = #{supplierId}
        </if>
        <if test="status > 0">
          and bill.status = #{status}
        </if>
    </where>
  </sql>
  <select id="queryCount" resultType="int" parameterType="cn.wolfcode.wms.query.OrderBillQueryObject">
    select count(*) from orderbill bill
    <include refid="base_where"/>
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select bill.id, bill.sn, bill.vdate, bill.status, bill.totalNumber, bill.totalAmount,
            auditorUser.id as_id, auditorUser.name as_name,
            inputUser.id iu_id, inputUser.name iu_name,
            s.id s_id, s.name s_name
      from orderbill bill
      left join employee auditorUser on auditorUser.id = bill.auditor_id
      join employee inputUser on inputUser.id = bill.inputUser_id
      join supplier s on s.id = bill.supplier_id
      <include refid="base_where"/>
    limit #{start}, #{pageSize}
  </select>

  <select id="selectCheckStatusById" resultType="orderBill">
    select id, status, totalAmount, totalNumber, supplier_id from orderbill where id = #{id}
  </select>

</mapper>