<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.rbac.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.rbac.domain.Test">
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="age" property="age" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from test
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into test (username, age)
    values (#{username}, #{age})
  </insert>
  <update id="updateByPrimaryKey">
    update test
    set username = #{username},
      age = #{age}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, username, age
    from test
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, age
    from test
  </select>
  <resultMap id="BaseResultMap" type="cn.wolfcode.rbac.domain.Test">
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="age" property="age" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from test
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into test (username, age)
    values (#{username}, #{age})
  </insert>
  <update id="updateByPrimaryKey">
    update test
    set username = #{username},
      age = #{age}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, username, age
    from test
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, age
    from test
  </select>
</mapper>